__pycache__/
.venv/
.env
.DS_Store
.idea/
.vscode/

# Qdrant
qdrant_storage/

# Data artifacts
/data/processed/
/data/embeddings/

# Logs
/logs/
!/logs/.gitkeep

# Notebooks
notebooks/.ipynb_checkpoints/
